*{
    padding: 0px;
    margin: 0px;
}
.heder_div{
    background: linear-gradient(rgba(000,000,000,0.5), rgba(000,000,000,0.5)) , url(../img/Wooden-planks-with-blurred-restaurant-background-Top.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
}
.heder_div_item{
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 193, 193);
    width:50px;
    height: 50px;
}